@model testyoutube.Data.Tickets
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data
@inject SignInManager<aspnetusers> SignInManager
@{
    ViewData["Title"] = "Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1 class="text-white">Création</h1>
    <div class="neumorphism fade" id="FadeAnim">
        <div style="display: flex;">
            <h4>Ticket&ensp;</h4>
            <svg style="max-width: 3%;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
            </svg>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreationButton">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                        <label asp-for="ID_utilisateur" class="control-label"></label>
                        <input asp-for="ID_utilisateur" class="form-control" />
                        <span asp-validation-for="ID_utilisateur" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Titre" class="control-label"></label>
                        <input asp-for="Titre" class="form-control" required />
                        <span asp-validation-for="Titre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5" required></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Catégorie de panne</label>
                        <select id="categSelect" class="form-control" asp-items="ViewBag.Categ"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ID_panne" class="control-label">Anomalie</label>
                        <select asp-for="ID_panne" class="form-control" asp-items="ViewBag.ID_panne"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Créer" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Retour</a>
        </div>
    </div>
}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>
}

<script src="~/js/FadeIn.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            // Écouteur d'événement pour le changement de valeur de la première liste déroulante
            $('#categSelect').change(function () {
                var selectedCategoryId = $(this).val(); // Récupère l'ID de la catégorie sélectionnée

                // Effectue une requête AJAX pour récupérer les pannes de la catégorie sélectionnée
                $.get('/Home/GetPannesByCategoryId', { categoryId: selectedCategoryId }, function (data) {
                    // Remplace les options de la deuxième liste déroulante avec les nouvelles options
                    var panneSelect = $('#ID_panne');
                    panneSelect.empty();
                    $.each(data, function (index, item) {
                        panneSelect.append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                });
            });
        });
    </script>
}