
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data


@inject SignInManager<testyoutubeUser> SignInManager
@inject UserManager<testyoutubeUser> UserManager

@{
    ViewData["Title"] = "Accueil";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1 class="text-white text-center">Vous êtes connectés</h1>
}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>

}
