@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div style="display: flex;">
    <h4>@ViewData["Title"]</h4>
    <svg style="max-width: 25px; margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
    </svg>

</div>


<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient des données personnelles que vous nous avez communiquées. Cette page vous permet de télécharger ou de supprimer ces données.</p>
        <p>
            <strong>La suppression de ces données entraînera la suppression définitive de votre compte, qui ne pourra pas être récupéré.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Supprimer</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
