body {

}
@media (min-width: 670px){
    .neumorphism{
        margin-left: -90px;
        margin-right: -125px;
    }
}

@media (max-width: 1010px){
    body{
        font-size: 0.7rem;
        line-height: 0.8;
    }
}

@media (max-width: 669px){
    .neumorphism{
        margin-left: -20px;
        margin-right: 0px;
    }
    body{
        font-size: 0.7rem;
    }
}

.recherche{
    display: flex;
    margin-bottom: 20px;
}
.recherche input{
    margin-left: 15%;
    width: 40%;
}

.arrondir{
    border-radius: 5px;
}

@media (max-width: 450px){
    .recherche{
        flex-direction: column;
    }
}
@media (min-width: 451px){
    .recherche{
        flex-direction: row;
    }
}