@model testyoutube.Data.Message

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_message" />
            <div class="form-group">
                <label asp-for="ID_utilisateur" class="control-label"></label>
                <select asp-for="ID_utilisateur" class="form-control" asp-items="ViewBag.ID_utilisateur"></select>
                <span asp-validation-for="ID_utilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contenu" class="control-label"></label>
                <input asp-for="contenu" class="form-control" />
                <span asp-validation-for="contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateMessage" class="control-label"></label>
                <input asp-for="DateMessage" class="form-control" />
                <span asp-validation-for="DateMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_conversation" class="control-label"></label>
                <select asp-for="ID_conversation" class="form-control" asp-items="ViewBag.ID_conversation"></select>
                <span asp-validation-for="ID_conversation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
