@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Oubli de mot de passe";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<p class="text-white">
    Un lien vous a été envoyé par mail pour réinitialiser votre mot de passe
</p>

