@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation de l'enregistrement ";
}

<h1 class="text-white">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="text-white">
    Un email a été envoyé. Cliquez sur le lien contenu dans le mail pour confirmer l'adresse mail.
</p>
    }
    else
    {
<p>
        Erreur
</p>
    }
}
