@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Réinitialisation du mot de passe";
}

<h1 class="text-white">@ViewData["Title"]</h1>
<p class="text-white">
    Votre mot de passe a été réinitialisé. S'il vous plaît <a asp-page="./Login">cliquez ici pour vous connecter</a>.
</p>
