@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data

@inject SignInManager<aspnetusers> SignInManager
@inject UserManager<aspnetusers> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark effet" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bonjour @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark effet">Se déconnecter</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark effet" id="register" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark effet" id="login" asp-area="Identity" asp-page="/Account/Login">Se connecter</a>
    </li>
}
</ul>
