@page
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data
@inject UserManager<aspnetusers> UserManager
@inject SignInManager<aspnetusers> SignInManager

@if (SignInManager.IsSignedIn(User))
{
        <div class="neumorphism">

            <div class="container">
                <div class="row p-1" id="chat">
                    <div class="col-6">
                        <ul id="messagesList" class="">
                            @foreach (var message in ViewBag.Messages)
                            {
                                <li class="">@message.User.Email : @message.Contenu</li>
                            }
                        </ul>
                    </div>
                </div>

                <form asp-action="ChatCreate">
                    <div class="row p-1">
                        <div class="col-1">Message</div>
                        <div class="col-5"><input type="text" class="w-100" id="messageInput" name="messageInput" /></div>
                        <input type="hidden" name="conversationId" value="@ViewBag.ConversationId" />
                    </div>
                    <div class="row p-1">
                        <div class="col-6 text-end">
                            <input type="submit" id="sendButton" value="Envoyer un message" />
                        </div>
                    </div>
                </form>

                <div class="row p-1">
                    <div class="col-6">
                        <hr />
                        <a asp-controller="Home" asp-action="Index">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>
}


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>