@model testyoutube.Data.Tickets
@using Microsoft.AspNetCore.Identity
@using testyoutube.Areas.Identity.Data
@inject SignInManager<aspnetusers> SignInManager
@{
    ViewData["Title"] = "Modifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex">
        <h1 class="text-white">Modifier&nbsp;</h1>
        <svg style="max-width: 40px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
    </div>


    <div class="neumorphism">
        <h4>Ticket</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID_ticket" />
                    <div class="form-group">
                        <label asp-for="ID_utilisateur" class="control-label"></label>
                        <input asp-for="ID_utilisateur" class="form-control" />
                        <span asp-validation-for="ID_utilisateur" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Titre" class="control-label"></label>
                        <input asp-for="Titre" class="form-control" />
                        <span asp-validation-for="Titre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ID_statut" class="control-label"></label>
                        <select asp-for="ID_statut" class="form-control" asp-items="ViewBag.ID_statut"></select>
                        <span asp-validation-for="ID_statut" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ID_panne" class="control-label"></label>
                        <select asp-for="ID_panne" class="form-control" asp-items="ViewBag.ID_panne"></select>
                        <span asp-validation-for="ID_panne" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date_creation" class="control-label"></label>
                        <input asp-for="Date_creation" class="form-control" readonly />
                        <span asp-validation-for="Date_creation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date_modif" class="control-label"></label>
                        <input asp-for="Date_modif" class="form-control" readonly />
                        <span asp-validation-for="Date_modif" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Modifier" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-controller="Home" asp-action="Index">Retour à la liste</a>
        </div>
    </div>
}
else
{
    <div class="text-center text-white">
        <h1 class="display-4">Support Ticket</h1>
        <p>Connectez-vous ou inscrivez-vous en haut de la page</p>
    </div>
}




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
